.navbar-light .navbar-nav .nav-link.active {
  font-weight: bold;
}

.navbar-light .navbar-nav .nav-link {
  color: #007bff;
}

.navbar-light:hover .navbar-nav:hover .nav-link:hover {
  color: #0056b3;
}

.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 2rem;
}
