.Nav {
  width: 100%;
  background-color: rgb(76, 149, 218);
  height: 3rem;
}

#site-logo {
  display: inline-block;
  font-size: 2rem;
  text-align: left;
  margin-left: 1rem;
}

.Nav > ul {
  list-style-type: none;
  display: inline-block;
}

.Nav > ul > li {
  display: inline-block;
  margin: 10px;
}

.Nav > ul > li > a {
  text-decoration: none;
  color: #d7ecff;
  font-weight: bold;
}

.Nav > ul > li > a:focus,
.Nav > ul > li > a:hover {
  color: aliceblue;
}

.Nav > ul > li > a:active {
  color: rgb(126, 182, 233);
}
